*:after {
    box-sizing: border-box;
}

body{
    background-color:hsl(16, 88%, 84%);
    color: hsl(321, 21%, 26%);
    font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 30px;
    padding: 16px;
}

h1 {
    font-size: 80px;
    -webkit-text-fill-color:hsl(0, 0%, 100%);
    -webkit-text-stroke: 3px;
    -webkit-text-stroke-color: hsl(7, 85%, 48%);
}

.subline {
    font-size: 30px;
    -webkit-text-fill-color:hsla(0, 0%, 100%, 0);
    -webkit-text-stroke: 1px;
    -webkit-text-stroke-color: hsl(321, 21%, 26%);}

header {
    padding: 16px;
    text-align: center
}

main {
    max-width: 800px;
    margin: 0 auto;
}